@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@font-face{
	font-family: "Icofont";
	src: url("fonts/icofont.ttf") format("opentype");
}
*{
	margin: 0;
	box-sizing: border-box;
}
header{
	background-color: #130e27;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
nav{
	width: 70%;
	display: flex;
	justify-content: space-around;
}
a{
	text-decoration: none;
}
.main-section{
	background-image: url(img/koleydoskop.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-section_caption{
	color: white;
	font-family: 'Sansita Swashed', cursive;
	font-size: 65px;
	font-weight: bold;
	text-align: center;
	margin-top: -100px;
	text-shadow: 2px 2px 2px black;
}
.label-link_label{
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	color: white;
	text-align: center;
}
.links{
	color: white;
	font-family: 'Sansita Swashed', cursive;
	font-size: 20px;
}
footer{
	width: 100%;
	height: 80px;
	background-color: #130e27;
	color: white;
	font-family: 'Sansita Swashed', cursive;
	font-size: 20px;
	font-style: normal;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
				/*Резюме*/
dt{
	font-family: 'Sansita Swashed', cursive;
	font-size: 22px;
}
dd{
	margin-left: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}
.portfolio_dl-first{
	margin: 20px 0 0 40px;
}
.portfolio{
	width: 80%;
	margin: 0 auto;
	padding-top: 30px;
	display: flex;
}
.portfolio_wrapper{
	width: 30%;
}
.portfolio_wrapper_image{
	width: 100%;
	border-radius: 10px;
	box-shadow: 2px 2px 2px black;
}
.portfolio_information{
	display: flex;
	justify-content: space-around;
}
.portfolio_information_caption,.portfolio_caption,.portfolio_information-other_caption,.discoveries_caption{
	font-family: 'Sansita Swashed', cursive;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin: 25px;
}
.portfolio_information_card{
	width: 32%;
	background-color: #130e27;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12px;
	border-radius: 5px;
}
.portfolio_information_card>iframe{
	width: 100%;
}
.portfolio_information_card_text{
	font-family: 'Sansita Swashed', cursive;
	font-size: 22px;
	color: white;
	margin: 10px;
}
.portfolio_information-other{
	width: 90%;
	margin: 0 auto;
	padding: 20px 0;
}
.portfolio_information-other_map{
	margin: 10px;
}
.portfolio_information-other_socials{
	font-family: "Icofont";
	color: black;
}
.portfolio_information-other_socials:hover{
	color: #b42e87;
}
@media(max-width: 768px){
	.portfolio_information{
		flex-direction: column;
		align-items: center;
	}
	.portfolio_information_card{
		width: 80%;
		margin-top: 20px;
	}
	.portfolio_information-other_wrapper{
		overflow-x: scroll;
	}
	.portfolio_wrapper{
		width: 40%;
	}
}
@media(max-width: 500px){
	.portfolio_wrapper{
		width: 60%;
	}
}
			/*Визначні мореплавці*/
table{
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
}
td,th{
	border: 2px solid black;
	padding: 10px;
}
.unic-tr{
	background-color: #d9e2f3;
}
.color-1{
	background-color: #fbe4d5;
}
.color-2{
	background-color: #e2efd9;
}
.color-3{
	background-color: #fff2cc;
}
dt{
	font-weight: bold;
}
ul>p,td>p{
	font-weight: bold;
}
th{
	padding: 10px;
	font-size: 20px;
}
td>p{
	text-align: center;
	color: brown;
}
.tpeshka{
	display: flex;
	align-items: center;
	flex-direction: column;
}
caption{
	font-weight: bold;
	font-size: 24px;
	padding: 10px;
}
.compas{
	width: 50px;
	height: 50px;
	margin: 20px;
}
#color_header-1{
	color: red;
}
#color_header-2{
	color: green;
}
#color_header-3{
	color: orange;
}
						/*Відкриття*/
.discoveries{
	width: 90%;
	margin: 0 auto;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: center; 
}
.discoveries_card{
	background-color: #2e1f6e;
	width: 45%;
	height: 500px;
	border-radius: 7px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	margin: 20px 0;
}
.discoveries_card_caption{
	font-family: 'Sansita Swashed', cursive;
	font-size: 22px;
	color: white;
}
.discoveries_card_text{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	color: #dbd8eb;
}
.discoveries_card>img{
	width: 80%;
	margin: 15px 0;
	box-shadow: 0px 0px 10px #2f67e0;
}
.discoveries_card>a{
	background-color: #5a626b;
	border-radius: 3px;
	padding: 5px;
	color: white;
	margin-top: 10px;
	font-family: 'Roboto Condensed', sans-serif;
}
@media(max-width: 768px){
	.discoveries{
		display: block;
	}
	.discoveries_card{
		width: 80%;
		margin: 20px auto;
	}
}
@media(max-width: 520px){
	.discoveries{
		display: block;
		width: 100%;
	}
	.discoveries_card{
		width: 100%;
	}
}
					/*Рейтинг*/
.rate{
	font-family: 'Sansita Swashed', cursive;
	font-size: 20px; 
	text-align: center;
	width: 80%;
	margin: 50px auto;
}
.rate>caption{
	margin-bottom: 10px;
}
.rate_th{
	background-color: #0f3eb8;
	color: white;
}
.rate_tr:nth-child(even){
	background-color: #81a2f7;
}
.rate_tr:nth-child(odd){
	background-color: #c7d3f2;
}
.rate_td:first-child{
	width: 10%;
}
.rate_td:nth-child(2n){
	width: 60%;
}
.rate_tr:hover{
	text-shadow: 0px 0px 15px black;
	cursor: pointer;
	background-color: #1c56ed;
	color: white;
}
.rate_td:hover{
	background-color:  #0435b5;
}
.rate_tr:hover .rate_td_span{
	border-radius: 50%;
	padding: 5px 10px;
	background-color: darkblue;
	color: white;
	transition: 0.2s ease-in;
}
#link_tiobe{
	text-decoration: none;
	margin-left: 10%;
	color: white;
	background-color: #3c6be6;
	font-family: 'Sansita Swashed', cursive;
	font-size: 20px;
	padding: 5px;
	border-radius: 7px;
	border: 4px dashed white;
}
#link_tiobe:hover{
	border: 4px dotted white;
}
.arrow{
	background-color: #5945a9;
	padding: 12px;
	color: white;
	position: fixed;
	right: 0;
	bottom: 10px;
	border-radius: 8px;
}
@media (max-width: 768px){
	.rate{
		width: 100%;
	}
}
@media (max-width: 300px){
	.rate{
		width: 100%;
	}
	.rate_main-section{
		overflow-x: scroll;
	}
}
